<div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'home-page' %}">Home</a>
                    <a class="breadcrumb-item text-dark" href="{% url 'products:product_list' %}">Shop</a>
                    <span class="breadcrumb-item active" style="color: blue">{{ page }}</span>
                </nav>
            </div>
        </div>
    </div>