<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{%  for seller_detail in sellers_details %}
    <p><b>name: </b>{{ seller.detail.rating }}</p>
    <p><b>ID: </b>{{ seller.id }}</p>
    <p><b>description: </b>{{ seller.description }}</p>
    <p><b>language: </b>{{ seller.language }}</p>
    
{% endfor %}
</body>
</html>
